{% extends 'base.html' %}
{% block page_title %}Новости{% endblock %}
{% block page_desc %}Новости МГТУ им. Н.Э. Баумана{% endblock %}
{% block nav %}
    {% with current='news' %}
        {% include 'inc/nav.html' %}
    {% endwith %}
{% endblock %}
{% block objects %}
    {% for object in news_list %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ object.title }}</h2>
          <a style="position:absolute; right: 0; top: 20px" href="{% url 'news-delete' object.id %}">
              <img src="/static/delete-1-icon.png" style="width: 15px;" alt="Удалить">
          </a>
        <p class="blog-post-meta">{{ object.date }}</p>

        <p>{{ object.text }}</p>

      </div><!-- /.blog-post -->
    {% endfor %}
    <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#new">
      Add news
    </button>
    {% with action='news-add' %}
    {% include 'inc/modal.html' %}<!-- Modal -->
    {% endwith %}
{% endblock %}